{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/item_styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/add_product_styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="header">
    <a href="/"><img src="{% static 'main/images/img.png' %}" id="logo-img"></a>
    <a href="/" id="logo-name">Shopville</a>
    <ul class="nav-links">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Login</a></li>
    </ul>
</div>
{% block slidebar %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>